/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: block;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: serif;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  background-color: #fff;
  color: #333333;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul,
li {
  list-style-type: none;
}

a {
  display: block;
  text-decoration: none;
  color: #ff7619;
  font-size: 17px;
}

/* AUTOFILL-STYLES */
/*input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
	 border-color: transparent;
	 -webkit-text-fill-color: inherit;
	 -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  }*/

/* PLACEHOLDER-STYLES */
/*::-webkit-input-placeholder,
  ::-moz-placeholder,
  :-ms-input-placeholder,
  :-moz-placeholder {
	 color: rgba(52, 49, 61, 0.5);
	 opacity: 1;
  }*/

/* FOCUS */

*:focus {
  outline: 2px dashed var(--orange);
  outline-offset: 3px;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  text-transform: uppercase;
}

.form {
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form__input {
  max-width: 300px;
  width: 100%;
  padding: 8px;
  border: none;
  border-bottom: 1px solid #000;
}

.buttons {
  max-width: 200px;
  width: 100%;
}

.btn {
  padding: 7px 10px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.btn-submit {
  background-color: green;
}

.btn-cancel {
  background-color: red;
}

.text__space {
  height: 100px;
  border-top: none;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
}

.paragraph {
  margin: 0;
}

.result__box {
  position: absolute;
  top: 360px;
  left: 430px; /* Start position outside the viewport */
  color: #000;
  padding: 10px;
  border-radius: 5px;
  transition: transform 0.5s ease-in-out; /* Transition effect */
  z-index: 1000;
}

.result__box.active {
  transform: translateX(-100%); /* Move the element from right to left */
}
