/* .extra {
	width: fit-content;
  color: blueviolet;
  background-color: yellow;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

/* .container {
  max-width: 1200px;
  width: 100%;
  margin: 200px auto;
  padding: 12px;
  background-color: #000;
  display: flex;
  border-radius: 7px;
}

.square {
	display: inline-block;
  width: 120px;
  height: 120px;
  background-color: #fff;
  margin: 15px;
  border-radius: 7px;
}

.circle {
	display: inline-block;
  width: 120px;
  height: 120px;
  background-color: #909090;
  border-radius: 50%;
  margin: 15px;
} */

/* #btn1 {
  background-color: green;
  border: none;
  padding: 10px;
  font-size: 15px;
  margin: 20px;
  border-radius: 2px;
  color: #fff;
}

#btn1:hover {
  cursor: pointer;
  background-color: rgb(1, 90, 1);
}

#btn2 {
  background-color: red;
  border: none;
  padding: 10px;
  font-size: 15px;
  margin: 20px;
  border-radius: 2px;
  color: #fff;
}

#btn2:hover {
  cursor: pointer;
  background-color: rgb(156, 6, 6);
}

.count {
  margin: 20px;
}

.block {
  margin: 20px;
}
 */

.todo-list {
  margin: 10px 30px;
  padding: 10px;
  list-style-type: square;
}

#btn {
  margin: 20px;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

.animated-title{
	transform: translate(20px, 20px) rotate(360deg);
}

.animated{
	transition: 1s all linear;
}